section .heading {
  font-weight: bold;
}
section .subheading {
  font-size: 0.825em;
  color: grey;
}
.card {
  font-size: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
}
.card-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0.75rem 0.5rem;
}
.card-img {
  height: 100%;
  width: 100%;
}
.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-icon {
  height: 40px;
  width: 40px;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
/* navbar */

.navbar {
  height: 30px;
  width: 100%;
  background: #11111120;
}
.navbar .menu-icon {
  margin: 0 10px;
  height: 20px;
  width: 20px;
}

/* tab section */

.tab {
  text-transform: uppercase;
  padding: 5px 10px;
  margin-left: 2px;
  margin-right: 2px;
  background: #fff;
  border-radius: 0.05rem;
  color: orange;
}
.tab.active {
  color: #fff;
  background: orange;
}
.tab-content {
  background: #fff;
  padding: 5px;
}
.tab-content .content-section {
  display: none;
}
.tab-content .content-section.active {
  display: flex;
}
.scrollable-list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: -10px;
  margin-top: 4px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollable-list::-webkit-scrollbar {
  display: none;
}
.scrollable-list .card {
  margin-right: 10px;
}
.scrollable-list .card .card-body {
  height: 150px;
  width: 250px;
}
.scrollable-list .card .card-footer {
  background: #ffffff;
}
.scrollable-list .card .card-footer a {
  color: cadetblue;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: #111111;
  opacity: 0.7;
}
.overlay-footer {
  bottom: 0;
  z-index: 3;
  left: 0;
  position: absolute;
  color: #fff;
}
.overlay-footer .subheading {
  color: #fff;
}
.overlay-header {
  top: 0.25rem;
  right: 0.25rem;
  z-index: 3;
  position: absolute;
  color: #fff;
}
.college-logo {
  height: 20px;
  width: 20px;
}

/* sidebar */
.sidebar-parent {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.sidebar-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background: #111111;
  opacity: 0.4;
}
.sidebar {
  z-index: 3;
  height: 100%;
  width: 100%;
  display: flex;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.left-side {
  z-index: 4;
  background: #fff;
  width: 80%;
  height: 100%;
}
.right-side {
  z-index: 4;
  width: 20%;
  height: 100%;
}
.sidebar-parent.hide .sidebar {
  transform: translate(-100%);
  /* z-index: -1; */
}
.sidebar-parent.hide {
  z-index: -1;
}
.sidebar-header {
  background: #323c4f;
  height: 100px;
  width: 100%;
}
.sidebar-header img {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.sidebar-header h3 {
  color: #fff;
}
.sidebar-list {
  padding: 10px;
  position: relative;
  list-style: none;
}
.sidebar-list .list-item {
  text-transform: uppercase;
  font-size: 0.825rem;
  margin-bottom: 20px;
}
.sidebar-list .icon {
  margin-right: 20px;
  height: 20px;
  width: 20px;
}
.sidebar-list .right-arrow {
  position: absolute;
  height: 15px;
  right: 0;
}
