.text-sm {
  font-size: 11px;
}
.text-md {
  font-size: 12px;
}
.h3 {
  font-size: 1.25rem;
}
.h4 {
  font-size: 1rem;
}
.counsellor {
  background: $primary-bg;
  .content .heading {
    line-height: 1.5;
    font-size: 16px;
  }
  .content .subheading {
    font-size: 16px;
  }
  .content .btn {
    width: 180px;
  }
  .counselling-submit {
    width: 180px;
  }
}
.subheading {
  color: $dull-brown;
}
.scrollable-list {
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: -1rem;
  margin-right: -1rem;
}
.img-counsellor {
  height: 130px;
  width: 200px;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.why-prepp {
  .card-title {
    line-height: 17px;
  }
}
.app-banner {
  .mobile-img {
    height: 280px;
    width: 100%;
  }
}
.faq {
  background-image: linear-gradient(
    180deg,
    #fffef4 0%,
    rgba(255, 255, 255, 0) 100%
  );
  .accordion-item {
    background: transparent;
  }
  .accordion-button {
    background: transparent;
    font-size: $font-size-mobile-body;
  }
  .accordion-button:not(.collapsed) {
    color: $black;
    background-color: transparent;
    box-shadow: none;
  }
}
.card-head-testimonial {
  position: relative;
}
.card-head-testimonial::after {
  position: absolute;
  font-size: 72px;
  content: "\201D";
  right: 10px;
  top: -10px;
}
.card-head-green {
  background-color: #f5fffb;
}
.card-head-green::after {
  color: #defff2;
}
.name-initials {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid #111;
  &.green-initial {
    color: #42dea1;
    background-color: #defff2;
    border: 1px solid #5afcbd;
  }
}
.card-title {
  .subheading {
    font-size: 12px;
  }
}
.modal-fullscreen {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}
body.modal-open {
  overflow: hidden;
}
.modal {
  .card-head-testimonial::after {
    font-size: 200px;
  }
  .btn-close {
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &.modal-fullscreen {
    .card-head-testimonial {
      height: 20vh;
      border: 0;
    }
    .floating-title {
      margin-bottom: 50px;
    }
    .floating-title.modal-header .modal-title {
      height: 90px;
      width: 90px;
      margin-bottom: -50px;
    }
  }
}
