.font-weight-light {
  font-weight: $font-weight-light;
}
.font-weight-lighter {
  font-weight: $font-weight-lighter;
}
.font-weight-normal {
  font-weight: $font-weight-normal;
}
.font-weight-medium {
  font-weight: $font-weight-medium;
}
.font-weight-semi {
  font-weight: $font-weight-semi;
}
.font-weight-bold {
  font-weight: $font-weight-bold;
}
.font-weight-bolder {
  font-weight: $font-weight-bolder;
}
.font-italic {
  font-style: italic;
}
